@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("images/pexels-dimitry-anikin-5044497.jpg");
    background-position: center;
    background-size: cover;
    background-color: #cccccc;
    font-family: "Quicksand", sans-serif;
}


.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    
    
}

.opaqueBack {
    display: flex;
    width: 700px;
    height: 550px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 50px 10px 50px;
    color: #fff;
    font-weight: bolder;
}

.headerTitle {
    display: flex;
    color: #fff;
}

.challenge {
    display: flex;
    text-align: center;
}

.rpsBtns {
    display: flex;
    justify-content: space-around;
    width: 400px;
    padding-top: 20px;
    padding-bottom: 30px;
}

#rock {
    width: 100px;
    height: 50px;
    border: 5px solid white;
    border-radius: 8px;
    color: #fff;
    font-family: "Quicksand", sans-serif;
    font-size: large;
    font-weight: bold;
    background-color: rgba(0,0,0,0);
}

#rock:hover {
    color: #7FAD8D;
    border: 5px solid #7FAD8D;
}

#paper {
    width: 100px;
    height: 50px;
    border: 5px solid white;
    border-radius: 8px;
    color: #fff;
    font-family: "Quicksand", sans-serif;
    font-size: large;
    font-weight: bold;
    background-color: rgba(0,0,0,0);
}

#paper:hover {
    color: #7FAD8D;
    border: 5px solid #7FAD8D;
}

#scissors {
    width: 100px;
    height: 50px;
    border: 5px solid white;
    border-radius: 8px;
    color: #fff;
    font-family: "Quicksand", sans-serif;
    font-size: large;
    font-weight: bold;
    background-color: rgba(0,0,0,0);
}

#scissors:hover {
    color: #7FAD8D;
    border: 5px solid #7FAD8D;
}

.score {
    color: #fff;
    font-family: "Quicksand", sans-serif;
    display: flex;
    width: 300px;
}

.playerScore {
    color: #fff;
    font-family: "Quicksand", sans-serif;
    text-align: center;
    flex: 1;

}

.p-count {
    color: #fff;
    font-family: "Quicksand", sans-serif;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 700;

}

.computerScore {
    color: #fff;
    font-family: "Quicksand", sans-serif;
    text-align: center;
    flex: 1;

}

.c-count {
    color: #fff;
    font-family: "Quicksand", sans-serif;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 700;
}

.movesleft {
    margin: 10px 10px 20px 10px;
    padding: 3px 3px 3px 3px;
    color: #757472;
    background-color: #fff;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-weight: 700;
    border: 5px solid white;
    border-radius: 8px;
}

/* .result {

} */

.move{
    font-size: 30px;
    color: #fff;
    font-family: "Quicksand", sans-serif;
    padding-bottom: 40px;
}


.reload {
    display: none;
    margin-top: 2rem;
    padding: 1rem;
    background: white;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
}

.reload:hover {
    background-color: #7FAD8D;
    color: #fff;
}
 
.result{
    margin-top: 20px;
    font-size: 1.2rem;
}


